.dropdown {
    margin-top: 7%;
    margin-left: 1%;
}

.movie {
    margin-top: 1%;
}

#dropdownMenuButton {
    background-color: #7975757c;
    border: #7975757c 2px;
}

button > .dropdown-list {
    background-color: #44434367;
}