<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding: 0;">
  <div class="container-fluid">
    <a href="" class="navbar-brand">
      <img style="width: 40px; margin-top: 5px;" src="/assets/images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['']"><img src="/assets/images/home.png" width="22"> Home</a>
        </li>
        <li class="nav-item">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <img src="/assets/images/categorie.png" style="width: 22px;">
              Categories
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a class="dropdown-item active" [routerLink]="['/movie-category/gun']">Azione</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/cartoon']">Cartoni</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/commedia']">Commedia</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/dc-comics']">DC Universe</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/horror-host']">Horror</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/marvel-comics']">Marvel Universe</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/love']">Romantico</a>
              <a class="dropdown-item active" [routerLink]="['/movie-category/disney-star-wars']">Star Wars</a>
            </div>
          </li>
        </ul>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/favorite']"><img src="/assets/images/heart.png" width="22"> Preferiti</a>
        </li>
      </ul>
      <app-search-bar></app-search-bar>
      <div>
        <ul class="nav navbar-nav d-flex" style="margin-left: -75px;">
          <li class="nav-item dropdown">
            <a style="cursor: pointer;" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <img src="/assets/images/profile.png" style="width: 40px;">
            </a>
            <ul class="dropdown-menu menu" style="margin-left: -115px;">
              <li class="menu-profile">
                <button aria-current="page" class="text-underline-activer" style="color: #ffff;background-color:#212529; border:none;">
                  <img src="/assets/images/account.png" style="width: 22px;">
                  Account
                </button>
              </li>
              <li class="menu-profile">
                <button aria-current="page" class="text-underline-activer" style="color: #ffff;background-color:#212529; border:none;">
                  <img src="/assets/images/settings.png" style="width: 22px;">
                  Impostazione
                </button>
              </li>
              <li class="menu-profile">
                <button aria-current="page" class="text-underline-activer" style="color: #ffff;background-color:#212529; border:none;">
                  <img src="/assets/images/help.png" style="width: 22px;">
                  Aiuto
                </button>
              </li>
              <li class="menu-profile">
                <button [routerLink]="['/login']" appLogout href="#" aria-current="page" class="text-underline-activer" style="color: #ffff; cursor: pointer; background-color:#212529; border:none;">
                  <img src="/assets/images/exit.png" style="width: 22px;">
                  Esci
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>