a.dropdown-item {
    color: #fff;
}

a.dropdown-item.active {
    background-color: #222222;
}

a:hover {
    color: #ff0000f2;
}

nav {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

ul.dropdown-menu.menu.show::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #242829;
    display: inline-block;
    height: 17px;
    right: 0px;
    opacity: 1.5;
    position: absolute;
    top: -17px;
    width: 17px;
}

.dropdown-menu.show {
    background-color: #222222;
}

.dropdown-toggle{
    cursor: pointer;
}

.dropdown-toggle::after {
    opacity: 0;
}

.menu {
    background: #222222F2;
    border-radius: 10px 0px 10px 10px;
    border-style: none;
    padding: 10px;
}

.menu-profile {
    margin: 10px;
}

.nav-item {
    font-size: 18px;
    margin-left: 45px;
}

.text-underline-hover {
    background-color:#242225; 
    border:none;
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
}

.searchbutt {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 42px; color:white;
}

@media screen and (max-width: 990px) {
    ul.dropdown-menu.menu.show::before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #222222;
        display: inline-block;
        height: 17px;
        opacity: 1.5;
        position: absolute;
        right: 20px;
        top: 40px;
        width: 17px;
    }
}