<div class="error-message">
  <div class="content">
    <a href="" class="navbar-brand">
      <img class="logo" src="/assets/images/logo.png">
      <img class="monkey" src="../../../assets/images/1f412.png">
    </a>
  </div>
  <h1>OPS...!</h1>
  <h2>Questo film sta per arrivare!</h2>
  <div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item frame" [src]="filmUrl | urlSanitizer" framegorder="0" controls muted></iframe>
  </div>
</div>


