div > h1{
    text-align: center;
    color: white;
    margin-top: -5%;
}

div > h2{
    text-align: center;
    color: white;
}

.content {
    margin-top: -6%;
}

.error-message{
    background-color: #222;
    height: fit-content;
}

.logo{
    width: 10%;
    margin-top: 17%;
    margin-left: 6%;
}

.monkey {
    width: 10%;
    margin-bottom: -4%;
    margin-left: 117%;
    margin-top: 7%;
}

