<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<html>  
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center form_container">
					<form (ngSubmit)="handleSubmit(f)" #f="ngForm">
                        <!-- LOGO -->
                        <div class="d-flex justify-content-center">
                            <img src="/assets/images/logo.png">
                        </div>
                        <h1 class="text-center">Registrati</h1>
                        <!-- EMAIL -->
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><img style="height: 25px;" src="/assets/images/username.png"></span>
                            </div>
                            <input type="email" name="email" class="form-control input_user" placeholder="email" [(ngModel)]="email" #e="ngModel" required [appForbidden]="['admin@user.it', 'user@email.com', 'email@user.com']" appRegexEmail>
                        </div>
                        <div *ngIf="(e.touched || f.submitted) && e.invalid" role="alert">
							<p *ngIf="e.hasError('forbidden')">Indirizzo email non ammesso
								<img src="../../../assets/img/Group.png" class="error3">
							</p>
							<p *ngIf="e.hasError('forbiddenEmail')">Indirizzo email non valido
								<img src="../../../assets/img/shape.png" class="error">
							</p>
                        </div>
                        <!-- PASSWORD -->
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><img style="height: 25px;" src="/assets/images/password.png"></span>
                            </div>
							<input type="password" name="password" class="form-control input_pass" placeholder="password" [(ngModel)]="password" #p="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$">
						</div>
                        <div *ngIf="(p.touched || f.submitted ) && p.invalid" role="alert">
							<p *ngIf="p.hasError('required')">Campo obbligatorio
								<img src="../../../assets/img/Group.png" class="error1">
							</p>
							<p *ngIf="p.hasError('pattern')">Password non valida
								<img src="../../../assets/img/shape.png" class="error1">
							</p>
                        </div>
                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><img style="height: 17px;" src="/assets/images/check.png"></span>
							</div>
							<input type="password" name="confirmPassword" class="form-control input_pass_confirm" placeholder="confirm password" [(ngModel)]="confirmPassword" pattern="{{p.value}}" #c="ngModel" required >
						</div>
                        <div *ngIf="(c.touched || f.submitted ) && c.invalid" role="alert">
							<p *ngIf="c.hasError('required')">Campo obbligatorio
								<img src="../../../assets/img/Group.png" class="error1">
							</p>
							<p *ngIf="c.hasError('pattern')">Password diversa a quella precedente
								<img src="../../../assets/img/shape.png" class="error2">
							</p>
                        </div>
                        <!-- CHECKBOX -->
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Accetto i termini e le condizioni</label>
                            </div>
                        </div>
                        <!-- BUTTON -->
                        <div class="d-flex justify-content-center mt-3 login_container">
							<button name="button" class="btn signup_btn"[routerLink]="('')">REGISTRATI</button>
					   </div>
					</form>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Hai già un account? <a href="#" class="ml-2">Clicca qui</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
