@import '../login/login.component.scss';

p {
    margin-left: 12%;
}

.custom-control-label {
    color: white;
    font-size: 16+px;
}

.error {
    height: 11%;
    margin-top: -2px;
    margin-left: -76%;
    width: 8%;
}

.error1 {
    height: 13%;
    margin-top: -2px;
    margin-left: -61%;
    width: 7.5%;
}

.error2 {
    margin-top: -7px;
    margin-left: -102%;
    width: 7.5%;
}

.error3 {
    height: 11%;
    margin-top: -2px;
    margin-left: -84%;
    width: 8%;
}

.input-group-text {
    background: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    color: white !important;
}

.input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.justify-content-center > img {
    margin-bottom: 20px;
    width: 90px; 
}

.login_container {
    padding: 0 2rem;
}

.signup_btn {
    background: #FB0000 !important;
    color: white !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 270px;
}

.signup_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.text-center {
    margin-bottom: 40px;
}

.user_card {
    background: rgba(34, 34, 34, 0.95);
    border-radius: 30px;
    color:white;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    padding: 10px;
    width: 500px;
}
