<swiper style="background: #202428;"
  [slidesPerView]="4"
  [navigation]="true"
  [centeredSlides]="true"
  [spaceBetween]="30"
  [loop]="true"
  [loopedSlides]="8"
  [pagination]="true"
  class="mySwiper"
  
>
  <ng-template swiperSlide *ngFor="let category of categories">
    <app-movies [category]="category"></app-movies>
  </ng-template>

</swiper>

