@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: #222222;
}

h1 {
  color: white;
  margin-left: 1%;
  margin-top: 3%;
  font-size: 30px;
}

.swiper {
  background-color: #222222;
  width: 100%;
  height: 300px;
}

.swiper-slide {
  width: 25%;
  margin-right: -150px !important;
  text-align: center;
  font-size: 18px;
  margin: 0;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 45% !important;
  object-fit: cover;
}
