button.btn.searchbutt {
    z-index: -1;
}

form {
    display: flex;
    width: 412px;
}

img {
    width: 15px; 
    margin-top: -10px;
}

.search {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 42px; color:white;
}

.searchbutt {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 42px; color:white;
    border-radius: 0px 90px 90px 0px; 
    height: 32px;
}

@media screen and (max-width: 768px) {
    .input-group.col-md-11 {
        right: 2rem;
    }
}