<form (ngSubmit)="handleSearch(f)" #f="ngForm">
    <div class="input-group col-md-11">
        <input name="search" type="text" class="search-query form-control search" placeholder="Search"
            style="height: 32px;" [(ngModel)]="search" #s="ngModel">
        <span class="input-group-btn">
            <button class="btn searchbutt">
                <img src="/assets/images/search.png">
            </button>
        </span>
    </div>
</form>
