<app-navbar></app-navbar>
<app-main-slider></app-main-slider>
<div class ="padding">
    <h1>Azione:</h1>
    <app-slider [genre]="'gun'"></app-slider>
</div>
<div class="padding">
    <h1>Commedia:</h1>
    <app-slider [genre]="'commedia'"></app-slider>
</div>
<div class="padding">
    <h1>Cartoni:</h1>
    <app-slider [genre]="'cartoon'"></app-slider>
</div>
<div class="padding">
    <h1>DC Universe:</h1>
    <app-slider [genre]="'dc-comics'"></app-slider>
</div>
<div class="padding">
    <h1>Horror:</h1>
    <app-slider [genre]="'horror-host'"></app-slider>
</div>
<div class="padding">
    <h1>Marvel Universe:</h1>
    <app-slider [genre]="'marvel-comics'"></app-slider>
</div>
<div class="padding">
    <h1>Romantici:</h1>
    <app-slider [genre]="'love'"></app-slider>
</div>
<div class="padding">
    <h1>StarWars:</h1>
    <app-slider [genre]="'disney-star-wars'"></app-slider>
</div>
