<app-navbar></app-navbar>
<div ng-content class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
    <app-movie [routerLink]="['/movie-preview/', favMovies]" *ngFor="let movie of favMovies$ | async" [movie]="movie"></app-movie> 
</div>
