<html>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center form_container">
                    <form (ngSubmit)="handleSubmit(f)" #f="ngForm">
                        <!-- LOGO -->
                        <div class="d-flex justify-content-center">
                            <img style="width: 90px; margin-bottom: 20px;" src="/assets/images/logo.png">
                        </div>
                        <h1 class="text-center" style="margin-bottom: 40px;">Benvenuto!</h1>
                        <!-- EMAIL -->
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><img style="height: 25px;" src="/assets/images/username.png"></span>
                            </div>
                            <input type="email" name="email" class="form-control input_user" placeholder="email" [(ngModel)]="email" #e="ngModel" required [appForbidden]="['admin@user.it', 'user@email.com', 'email@user.com']" appRegexEmail>
                        </div>
                        <div *ngIf="(e.touched || f.submitted) && e.invalid" role="alert">
                            <p *ngIf="e.hasError('forbidden')">Indirizzo email non ammesso
								<img src="../../../assets/img/Group.png" class="error7">
							</p>
                            <p *ngIf="e.hasError('forbiddenEmail')">Indirizzo email non valido
                                <img src="../../../assets/img/shape.png" class="error4">
                            </p>
                        </div>
                        <!-- PASSWORD -->
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><img style="height: 25px;" src="/assets/images/password.png"></span>
                            </div>
                            <input type="password" name="password" class="form-control input_pass" placeholder="password" [(ngModel)]="password" #p="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$">
                        </div>
                        <div *ngIf="(p.touched || f.submitted ) && p.invalid">
                            <p *ngIf="p.hasError('required')">Campo Obbligatorio
								<img src="../../../assets/img/Group.png" class="error5">

                            </p>
                            <p *ngIf="p.hasError('pattern')">Password non valida
                                <img src="../../../assets/img/shape.png" class="error6">
                            </p>
                        </div>
                        <!-- CHECKBOX -->
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Ricordami</label>
                                <a href="#">Hai dimenticato la password?</a>
                            </div>
                        </div>
                        <!-- BUTTON -->
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button name="button" class="btn login_btn">ACCEDI</button>
                        </div>
                        <div class="mt-4">
                            <div>
                                <label>Non sei ancora iscritto?</label>
                                <a href="#" [routerLink]="('/sign-up')">Registrati</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
