@import '~bootstrap/dist/css/bootstrap.min.css';

a {
    text-decoration: none;
    color: #FB0000;
    float: right;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png');
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: #FB0000;
    margin-left: 12%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.error4 {
    height: 11%;
    margin-top: -2px;
    margin-left: -74%;
    width: 8%;
}

.error5 {
    margin-top: -2px;
    margin-left: -61%;
    width: 7.5%;
    height: 11%;
}

.error6 {
    height: 11%;
    margin-top: -2px;
    margin-left: -61%;
    width: 7.5%;
}

.error7 {
    height: 11%;
    margin-top: -2px;
    margin-left: -82%;
    width: 7.5%;
}

.form_container {
    margin: 10px;
}

.input-group-text {
    background: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    color: white !important;
}

.input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_btn, .signup_btn {
    background: #FB0000 !important;
    color: white !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 270px;
}

.login_btn:focus, .signup_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.user_card {
    background: rgba(34, 34, 34, 0.95);
    border-radius: 30px;
    color:white;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    padding: 10px;
    width: 500px;
}
