div {
    background-color: #222222;
}

h1 {
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 15%;
}

h3 {
    color: white;
    margin-top: 8%;
    font-size: 45px;
    text-align: center;
}

img {
    height: 765px;
    position: absolute;
    margin: 0;
    top: 8%;
    left: 57%;
}

p {
    color: white;
    margin-top: 8%;
    font-size: 17px;
}

.description {
    padding: 30px 0px 132px 0px;
    width: 20%;
    margin-left: 14%;
    text-align: center;
}

.p1 {
    color: white;
    margin-top: 10%;
    font-size: 18px;
}

.play {
    width: 2%;
    height: 5%;
    top: 85%;
    left: 3%;
}

.pref {
    width: 2.5%;
    height: 5%;
    margin: 0;
    top: 85%;
    left: 7%;
    position: absolute;
}

.prev {
    position: absolute;
    width: 3.5%;
    height: 8%;
    margin: 0;
    top: 10%;
    left: 2%;
}


