<app-navbar></app-navbar>
<img class="prev" src="../../../assets/images/shape (1).png" [routerLink]="'/home'" role="button">
<div class="body">
    <div class="description">
        <h1>{{moviePreview.title}}</h1>
        <p class="p1">Genere: {{ moviePreview.genres }} | Durata: {{ moviePreview.runtimeMins }} | Anno d'uscita: {{ moviePreview.year }}</p>
        <h3>Trama</h3>
        <p>{{ moviePreview.plot }}</p>
    </div>
    <img [src]="moviePreview.image">
</div>
<img class="pref" src="../../../assets/images/pref.png" (click)="setFavorite(moviePreview.favorite, moviePreview.id)" role="button">
<img [routerLink]="'/movie-player'" class="play" src="../../../assets/images/play.png" role="button">




