<div class="col">
    <button [routerLink]="['/movie-preview/', movie.id]" class="card shadow-sm">
        <img [src]="movie.image" class="bd-placeholder-img card-img-top" role="img" aria-label="Segnaposto: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="card-body">
        <div>{{movie.title}}</div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
            </div>
        </div>
        </div>
    </button>
</div>