<carousel [isAnimated]="true">
  <slide *ngFor="let movie of movies">
    <a [routerLink]="['/carousel-preview', movie.id]">
      <img [src]="movie.image" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <p>{{movie.title}}</p>
      </div>
    </a>
  </slide>
</carousel>
