a {
    height: 500px;
    width: 100%;
}

img {
    display: block;
    height: 600px; 
    width: 100%;
}

p {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
