<div class="col">
    <div class="card shadow-sm">
      <img [src]="movie.image" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Segnaposto: miniatura" preserveAspectRatio="xMidYMid slice" focusable="false">
      <div class="card-body">
        <div class="ttl">{{ movie.title }} {{ movie.year }}</div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group"></div>
        </div>
      </div>
    </div>
</div>
