<app-navbar></app-navbar>
<img class="prev" src="../../../assets/images/shape (1).png" [routerLink]="'/home'" role="button">
<div>
    <img [src]="carousel.image">
    <h1>{{ carousel.title }}</h1>
</div>
<img [routerLink]="'/movie-player'" class="play" src="../../../assets/images/play.png" role="button">

