div {
    background-color: #222222;
    padding: 63px;
}

h1 {
    width: 20%;
    text-align: center;
    color: white;
    top: 35%;
    left: 14%;
    position: absolute;
}

img {
    height: 765px;
    margin-left: 58%;
}

.play {
    width: 2%;
    height: 5%;
    top: 50%;
    position: absolute;
    right: 75%;
}

.prev {
    position: absolute;
    width: 3.5%;
    height: 8%;
    margin: 0;
    top: 10%;
    left: 2%;
}